POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=

SECRET_KEY= for conf.settings in django project
DEBUG=boolean

API_KEY= secret key for stripe session/product/price
CELERY_BROKER_URL=
CELERY_BROKER=